body {
  font-family: MTS, sans-serif;
  color: #1F2D3D;
}

a {
  text-decoration: none;
}

header .header-top .header-top__left .logo img {
  width: 180px;
}
header .header-top .header-top__left .menu {
  margin-bottom: 0;
}
header .header-top .header-top__left .menu li {
  margin-right: 15px;
  font-size: 17px;
  list-style: none;
}
header .header-top .header-top__left .menu li a {
  color: #1F2D3D;
}
header .header-top .header-top__right {
  line-height: 55px;
}
header .header-top .header-top__right .btn {
  border-radius: 7px;
  font-weight: bold;
}
header .header-body {
  background-image: url(../img/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  position: relative;
}
header .header-body img {
  width: 100%;
}
header .header-body .btn {
  position: absolute;
  left: 20px;
  bottom: 10px;
  padding: 10px 20px;
  border-radius: 9px;
}

#findout-limit {
  padding-top: 60px;
  padding-bottom: 60px;
}
#findout-limit .card-block {
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  padding: 20px;
  position: relative;
}
#findout-limit .card-block h4 {
  font-weight: bold;
}
#findout-limit .card-block h5 {
  font-weight: bold;
}
#findout-limit .card-block small {
  color: #95a5a6;
}
#findout-limit .card-block img {
  width: 30%;
  position: absolute;
  bottom: 20px;
  right: 20px;
}
#findout-limit .form {
  padding: 10px 0 0 50px;
}
#findout-limit .form form h3 {
  font-weight: bold;
  margin-bottom: 25px;
}
#findout-limit .form form input {
  border: 1px solid #DEE1E3;
  padding: 15px 20px;
  border-radius: 7px;
  width: 100%;
  margin-bottom: 10px;
}
#findout-limit .form form .findOutLimitBtn {
  background: #E1E5EA;
  padding: 15px 33px;
  font-size: 17px;
  font-weight: bold;
  margin-top: 17px;
  border-radius: 7px;
}

#our-offers {
  background: #F1F3F6;
  padding-top: 30px;
  padding-bottom: 50px;
}
#our-offers h2 {
  font-weight: bold;
  margin-bottom: 40px;
}
#our-offers .offer-items .item {
  background: #fff;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 25px;
  padding: 15px;
  margin-top: 30px;
  -webkit-box-shadow: 0 13px 13px rgba(0, 0, 0, 0.08);
  box-shadow: 0 13px 13px rgba(0, 0, 0, 0.08);
  border-radius: 7px;
  position: relative;
}
#our-offers .offer-items .item .img-block img {
  display: block;
  position: absolute;
  top: -20px;
  z-index: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 70%;
}
#our-offers .offer-items .item .item-bottom {
  margin-top: 120px;
}
#our-offers .offer-items .item .item-bottom .title {
  font-weight: bold;
}
#our-offers .offer-items .item .item-bottom ul li {
  margin-bottom: 10px;
  color: #6E7782;
  font-size: 15px;
}
#our-offers .offer-items .item .item-bottom .findOutLimitBtn {
  background: #F1F3F6;
  border: none;
  padding: 10px 13px;
  font-weight: bold;
  border-radius: 7px;
  background: #E1E5EA;
}
#our-offers .offer-items .owl-nav {
  position: absolute;
  top: -70px;
  right: 20px;
  -webkit-box-shadow: 0 7px 15px rgba(0, 0, 0, 0.17);
          box-shadow: 0 7px 15px rgba(0, 0, 0, 0.17);
}
#our-offers .offer-items .owl-nav .owl-prev span {
  padding: 10px 5px 10px 10px;
  font-size: 30px;
}
#our-offers .offer-items .owl-nav .owl-next span {
  padding: 10px 10px 10px 5px;
  font-size: 30px;
}