body {
  color: #1F2D3D;
}

a {
  text-decoration: none;
}

header .header-top .header-top__left .logo img {
  width: 180px;
}
header .header-top .header-top__left .menu {
  margin-bottom: 0;
}
header .header-top .header-top__left .menu li {
  margin-right: 15px;
  font-size: 17px;
  list-style: none;
}
header .header-top .header-top__left .menu li a {
  color: #1F2D3D;
}
header .header-top .header-top__right {
  line-height: 55px;
}
header .header-top .header-top__right .btn {
  border-radius: 7px;
  font-weight: bold;
}
header .header-body {
  background-image: url(../img/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  position: relative;
}
header .header-body img {
  width: 100%;
}
header .header-body .btn {
  position: absolute;
  left: 20px;
  bottom: 10px;
  padding: 10px 20px;
  border-radius: 9px;
}

.findout-limit {
  padding-top: 60px;
  padding-bottom: 60px;
}
.findout-limit .card-block {
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  padding: 20px;
  position: relative;
}
.findout-limit .card-block h4 {
  font-weight: bold;
}
.findout-limit .card-block h5 {
  font-weight: bold;
}
.findout-limit .card-block small {
  color: #95a5a6;
}
.findout-limit .card-block img {
  width: 30%;
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.findout-limit .form {
  padding: 10px 0 0 50px;
}
.findout-limit .form form h3 {
  font-weight: bold;
  margin-bottom: 25px;
}
.findout-limit .form form input {
  border: 1px solid #DEE1E3;
  padding: 15px 20px;
  border-radius: 7px;
  width: 100%;
  margin-bottom: 10px;
}
.findout-limit .form form .findOutLimitBtn {
  background: #E1E5EA;
  padding: 13px 30px;
  font-size: 17px;
  font-weight: bold;
  margin-top: 17px;
  border-radius: 7px;
}

#our-offers {
  background: #F1F3F6;
  padding-top: 30px;
  padding-bottom: 50px;
}
#our-offers h2 {
  font-weight: bold;
  margin-bottom: 40px;
}
#our-offers .offer-items .item {
  background: #fff;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 25px;
  padding: 15px;
  margin-top: 30px;
  -webkit-box-shadow: 0 13px 13px rgba(0, 0, 0, 0.08);
  box-shadow: 0 13px 13px rgba(0, 0, 0, 0.08);
  border-radius: 7px;
  position: relative;
}
#our-offers .offer-items .item .img-block img {
  display: block;
  position: absolute;
  top: -20px;
  z-index: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 70%;
}
#our-offers .offer-items .item .item-bottom {
  margin-top: 120px;
}
#our-offers .offer-items .item .item-bottom .title {
  font-weight: bold;
}
#our-offers .offer-items .item .item-bottom ul {
  padding-left: 18px;
}
#our-offers .offer-items .item .item-bottom ul li {
  margin-bottom: 10px;
  color: #6E7782;
  font-size: 15px;
}
#our-offers .offer-items .item .item-bottom .findOutLimitBtn {
  background: #F1F3F6;
  border: none;
  padding: 10px 13px;
  font-weight: bold;
  border-radius: 7px;
  background: #E1E5EA;
}
#our-offers .offer-items .owl-nav {
  position: absolute;
  top: -70px;
  right: 20px;
  -webkit-box-shadow: 0 7px 15px rgba(0, 0, 0, 0.17);
          box-shadow: 0 7px 15px rgba(0, 0, 0, 0.17);
}
#our-offers .offer-items .owl-nav .owl-prev span {
  padding: 10px 5px 10px 10px;
  font-size: 30px;
}
#our-offers .offer-items .owl-nav .owl-next span {
  padding: 10px 10px 10px 5px;
  font-size: 30px;
}

#calculator {
  padding-top: 30px;
}
#calculator .container {
  border: 2px solid #F9F9F9;
  border-radius: 7px;
  padding: 20px 35px 20px 20px;
}
#calculator .container .cashLoan {
  background: #F9F9F9;
  padding: 7px;
  border-radius: 7px;
  display: inline-block;
  margin-bottom: 10px;
  font-size: 14px;
}
#calculator .container h4 {
  font-weight: 900;
  margin-bottom: 13px;
}
#calculator .container .inputs .form-label {
  margin-bottom: 0;
}
#calculator .container .inputs input {
  border: 2px solid #e6e9ec;
}
#calculator .container .creditResult {
  background: #F5F7F8;
  padding: 20px;
  border-radius: 5px;
}
#calculator .container .creditResult .result-top .monthlyPayment {
  margin-right: 30px;
}
#calculator .container .creditResult .result-top .monthlyPayment .digits {
  font-size: 32px;
  font-weight: 700;
}
#calculator .container .creditResult .result-top .monthlyPayment .title {
  color: #84898C;
  font-size: 14px;
}
#calculator .container .creditResult .result-top .rate .precent {
  font-size: 32px;
  font-weight: 700;
}
#calculator .container .creditResult .result-top .rate .title {
  color: #84898C;
  font-size: 14px;
}
#calculator .container .creditResult .result-bottom {
  margin-top: 20px;
}
#calculator .container .creditResult .result-bottom button {
  border: none;
  background: #EA232D;
  color: white;
  padding: 10px 17px;
  border-radius: 7px;
  font-size: 14px;
}
#calculator .container .creditResult .result-bottom a {
  margin-left: 15px;
  color: #329ACA;
}
#calculator .container .creditResult .result-bottom p {
  font-size: 12px;
  color: #CDD2D7;
  margin-bottom: 0;
  margin-top: 10px;
}

#simpleSteps {
  padding-top: 50px;
  padding-bottom: 50px;
}
#simpleSteps h3 {
  font-weight: 900;
  margin-bottom: 20px;
}
#simpleSteps .col-md-3 {
  position: relative;
}
#simpleSteps .col-md-3 .step {
  width: 40px;
  height: 40px;
  background: #E2E5EB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  font-weight: 900;
  font-size: 19px;
  margin: 5px;
}
#simpleSteps .col-md-3 .title {
  font-weight: 700;
  margin-bottom: 12px;
  font-size: 17px;
  margin-top: 10px;
  margin-left: 7px;
}
#simpleSteps .col-md-3 .text {
  margin-left: 7px;
}
#simpleSteps .col-md-3:before {
  content: "";
  width: 73%;
  height: 1px;
  background: #E2E5EB;
  position: absolute;
  top: 23px;
  right: 0;
  z-index: -1;
}

#whatNeed {
  padding-top: 50px;
  padding-bottom: 50px;
  background: #F2F3F7;
}
#whatNeed h3 {
  font-weight: 900;
  margin-bottom: 25px;
}
#whatNeed .row {
  margin-bottom: 45px;
}
#whatNeed .row .col-md-4 .item {
  padding: 32px;
  -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1), 0 0 8px rgba(0, 0, 0, 0.12);
          box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1), 0 0 8px rgba(0, 0, 0, 0.12);
  background: #fff;
  border-radius: 5px;
  /*.icon{
      background: lightgray;
      padding: 10px;
      display: inline-block;
      border-radius: 35%;
  }*/
}
#whatNeed .row .col-md-4 .item:last-child {
  margin-right: 0;
}
#whatNeed .row .col-md-4 .item .title {
  margin-bottom: 16px;
}
#whatNeed span {
  color: #969fa8;
  font-size: 14px;
}

#about h2 {
  font-weight: 900;
  margin-bottom: 20px;
}
#about .text-item {
  position: relative;
}
#about .text-item:before {
  content: "";
  width: 7px;
  height: 7px;
  position: absolute;
  top: 13px;
  left: -14px;
  border-radius: 50%;
  background: #EA222F;
}
#about .text-item .title {
  font-weight: 700;
  font-size: 20px;
}
#about .slider-block .our-teams .our-teams__item .title {
  font-weight: 700;
  margin-top: 10px;
}
#about .slider-block .our-teams .our-teams__item .speciality {
  color: #969fa8;
  margin-top: 7px;
}
#about .slider-block .our-teams .owl-dots button {
  width: 15px;
}
#about .slider-block .our-teams .owl-dots button span {
  width: 7px;
  height: 7px;
}