body {
  color: #1F2D3D;
  margin: 0;
}

* {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

a:visited, a:active {
  color: black;
}

header .header-top {
  margin-bottom: 10px;
  padding-top: 10px;
}
header .header-top .header-top__left .logo img {
  width: 180px;
}
header .header-top .header-top__left .menu {
  margin-bottom: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .header-top .header-top__left .menu li {
  margin-right: 15px;
  font-size: 17px;
  list-style: none;
  font-weight: 700;
}
header .header-top .header-top__left .menu li a {
  color: #1F2D3D;
}
header .header-top .header-top__right {
  line-height: 50px;
}
header .header-top .header-top__right .btn {
  border-radius: 7px;
  font-weight: bold;
}
header .header-body .container {
  background-image: url(../img/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  position: relative;
  background-position: top;
}
header .header-body .container .overlay {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}
header .header-body .container .overlay .title {
  position: absolute;
  top: 25%;
  left: 35px;
}
header .header-body .container .overlay .title h1 {
  font-weight: 900;
  color: white;
}
header .header-body .container .overlay .title p {
  font-weight: 700;
  color: white;
}
header .header-body .container .overlay .btn {
  background: #EA232D;
  position: absolute;
  bottom: 25px;
  border-radius: 7px;
  padding: 8px 20px;
  left: 35px;
  font-weight: 700;
  letter-spacing: 0.7px;
}

.findout-limit {
  padding-top: 60px;
  padding-bottom: 60px;
}
.findout-limit .card-block {
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  padding: 20px;
  position: relative;
}
.findout-limit .card-block h4 {
  font-weight: bold;
}
.findout-limit .card-block h5 {
  font-weight: bold;
}
.findout-limit .card-block small {
  color: #95a5a6;
}
.findout-limit .card-block img {
  width: 30%;
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.findout-limit .form {
  padding: 10px 0 0 50px;
}
.findout-limit .form form h3 {
  font-weight: bold;
  margin-bottom: 25px;
}
.findout-limit .form form input {
  border: 1px solid #DEE1E3;
  padding: 15px 20px;
  border-radius: 7px;
  width: 100%;
  margin-bottom: 10px;
}
.findout-limit .form form .findOutLimitBtn {
  background: #E1E5EA;
  padding: 13px 30px;
  font-size: 17px;
  font-weight: bold;
  margin-top: 17px;
  border-radius: 7px;
}

#our-offers {
  background: #F1F3F6;
  padding-top: 30px;
  padding-bottom: 50px;
}
#our-offers h2 {
  font-weight: bold;
  margin-bottom: 40px;
}
#our-offers .offer-items .item {
  background: #fff;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 25px;
  margin-top: 30px;
  -webkit-box-shadow: 0 13px 13px rgba(0, 0, 0, 0.08);
  box-shadow: 0 13px 13px rgba(0, 0, 0, 0.08);
  border-radius: 7px;
  position: relative;
}
#our-offers .offer-items .item .img-block img {
  display: block;
  top: -20px;
  z-index: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 70%;
  position: relative;
}
#our-offers .offer-items .item .item-bottom {
  position: relative;
  top: -38px;
  background: white;
  border-top: 2px solid #EA232D;
  padding: 20px 20px 0 20px;
}
#our-offers .offer-items .item .item-bottom .title {
  font-weight: bold;
  margin-bottom: 10px;
}
#our-offers .offer-items .item .item-bottom ul {
  padding-left: 18px;
}
#our-offers .offer-items .item .item-bottom ul li {
  margin-bottom: 10px;
  color: #6E7782;
  font-size: 15px;
  position: relative;
}
#our-offers .offer-items .item .item-bottom ul li:before {
  content: " ";
  width: 5px;
  height: 5px;
  position: absolute;
  top: 8px;
  left: -14px;
  border-radius: 50%;
  background: #6E7782;
}
#our-offers .offer-items .item .item-bottom .findOutLimitBtn {
  background: #F1F3F6;
  border: none;
  padding: 8px 13px;
  font-weight: bold;
  border-radius: 3px;
  background: #E1E5EA;
}
#our-offers .offer-items .owl-nav {
  position: absolute;
  top: -70px;
  right: 20px;
  -webkit-box-shadow: 0 7px 15px rgba(0, 0, 0, 0.17);
          box-shadow: 0 7px 15px rgba(0, 0, 0, 0.17);
}
#our-offers .offer-items .owl-nav .owl-prev {
  background: none;
}
#our-offers .offer-items .owl-nav .owl-prev span {
  padding: 10px 5px 10px 10px;
  font-size: 30px;
}
#our-offers .offer-items .owl-nav .owl-prev:hover {
  background: none;
}
#our-offers .offer-items .owl-nav .owl-prev:hover span {
  color: black;
}
#our-offers .offer-items .owl-nav .owl-next {
  background: none;
}
#our-offers .offer-items .owl-nav .owl-next span {
  padding: 10px 10px 10px 5px;
  font-size: 30px;
}
#our-offers .offer-items .owl-nav .owl-next:hover {
  background: none;
}
#our-offers .offer-items .owl-nav .owl-next:hover span {
  color: black;
}

#calculator {
  padding-top: 50px;
}
#calculator .container {
  border: 2px solid #e6e9ec;
  border-radius: 7px;
  padding: 20px 35px 20px 20px;
}
#calculator .container .cashLoan {
  background: #F9F9F9;
  padding: 7px;
  border-radius: 7px;
  display: inline-block;
  margin-bottom: 10px;
  font-size: 14px;
}
#calculator .container h4 {
  font-weight: 900;
  margin-bottom: 13px;
}
#calculator .container .inputs .mb-3 {
  position: relative;
}
#calculator .container .inputs .mb-3 .form-label {
  margin-bottom: 0;
}
#calculator .container .inputs .mb-3 input {
  border: 2px solid #e6e9ec;
  outline: none;
}
#calculator .container .inputs .mb-3 input:focus, #calculator .container .inputs .mb-3 input:active, #calculator .container .inputs .mb-3 input:hover {
  outline: 0 !important;
  outline-offset: 0 !important;
  -webkit-box-shadow: unset;
          box-shadow: unset;
}
#calculator .container .inputs .mb-3 .inputRange {
  -webkit-appearance: none;
  /* Override default CSS styles */
  -moz-appearance: none;
       appearance: none;
  width: 97%;
  height: 2px;
  background: #EA232D;
  outline: none;
  -webkit-transition: 0.2s;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  border: none;
  right: 0;
  position: absolute;
  bottom: 0.1px;
  right: 2px;
}
#calculator .container .inputs .mb-3 .inputRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Override default look */
  appearance: none;
  width: 15px;
  height: 15px;
  background: #EA232D;
  cursor: pointer;
  border-radius: 50%;
  border: 3px solid #EA232D;
  padding: 5px;
}
#calculator .container .inputs .mb-3 .inputRange::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: #EA232D;
  cursor: pointer;
  border-radius: 50%;
  border: 3px solid #EA232D;
  padding: 5px;
}
#calculator .container .creditResult {
  background: #F5F7F8;
  padding: 20px;
  border-radius: 5px;
}
#calculator .container .creditResult .result-top .monthlyPayment {
  margin-right: 30px;
}
#calculator .container .creditResult .result-top .monthlyPayment .digits {
  font-size: 32px;
  font-weight: 700;
}
#calculator .container .creditResult .result-top .monthlyPayment .digits .fa-ruble-sign {
  font-size: 27px;
}
#calculator .container .creditResult .result-top .monthlyPayment .title {
  color: #84898C;
  font-size: 14px;
}
#calculator .container .creditResult .result-top .rate .precent {
  font-size: 32px;
  font-weight: 700;
}
#calculator .container .creditResult .result-top .rate .title {
  color: #84898C;
  font-size: 14px;
}
#calculator .container .creditResult .result-bottom {
  margin-top: 20px;
}
#calculator .container .creditResult .result-bottom button {
  border: none;
  background: #EA232D;
  color: white;
  padding: 10px 17px;
  border-radius: 7px;
  font-size: 14px;
}
#calculator .container .creditResult .result-bottom a {
  margin-left: 15px;
  color: #329ACA;
}
#calculator .container .creditResult .result-bottom p {
  font-size: 12px;
  color: #CDD2D7;
  margin-bottom: 0;
  margin-top: 10px;
}

#simpleSteps {
  padding-top: 50px;
  padding-bottom: 50px;
}
#simpleSteps h3 {
  font-weight: 900;
  margin-bottom: 20px;
}
#simpleSteps .col-md-3 {
  position: relative;
}
#simpleSteps .col-md-3 .step {
  width: 40px;
  height: 40px;
  background: #E2E5EB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  font-weight: 900;
  font-size: 19px;
  margin: 5px;
}
#simpleSteps .col-md-3 .title {
  font-weight: 700;
  margin-bottom: 12px;
  font-size: 17px;
  margin-top: 10px;
  margin-left: 7px;
}
#simpleSteps .col-md-3 .text {
  margin-left: 7px;
}
#simpleSteps .col-md-3:before {
  content: "";
  width: 73%;
  height: 1px;
  background: #E2E5EB;
  position: absolute;
  top: 23px;
  right: 0;
  z-index: -1;
}

#whatNeed {
  padding-top: 50px;
  padding-bottom: 50px;
  background: #F2F3F7;
}
#whatNeed h2 {
  font-weight: 900;
  margin-bottom: 35px;
}
#whatNeed .row {
  margin-bottom: 45px;
}
#whatNeed .row .col-md-4 .item {
  padding: 32px;
  -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1), 0 0 8px rgba(0, 0, 0, 0.12);
          box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1), 0 0 8px rgba(0, 0, 0, 0.12);
  background: #fff;
  border-radius: 5px;
  /*.icon{
      background: lightgray;
      padding: 10px;
      display: inline-block;
      border-radius: 35%;
  }*/
}
#whatNeed .row .col-md-4 .item:last-child {
  margin-right: 0;
}
#whatNeed .row .col-md-4 .item .title {
  margin-bottom: 16px;
}
#whatNeed span {
  color: #969fa8;
  font-size: 14px;
}

#about {
  padding-bottom: 40px;
}
#about h2 {
  font-weight: 900;
  margin-bottom: 20px;
}
#about .text-item {
  position: relative;
}
#about .text-item:before {
  content: "";
  width: 7px;
  height: 7px;
  position: absolute;
  top: 13px;
  left: -14px;
  border-radius: 50%;
  background: #EA222F;
}
#about .text-item .title {
  font-weight: 700;
  font-size: 20px;
}
#about .slider-block .our-teams .our-teams__item .title {
  font-weight: 700;
  margin-top: 10px;
}
#about .slider-block .our-teams .our-teams__item .speciality {
  color: #969fa8;
  margin-top: 7px;
}
#about .slider-block .our-teams .owl-dots button {
  width: 15px;
}
#about .slider-block .our-teams .owl-dots button span {
  width: 7px;
  height: 7px;
}

#trust {
  background: #F2F3F7;
  padding-top: 40px;
  padding-bottom: 40px;
}
#trust h2 {
  font-weight: 900;
  margin-bottom: 25px;
}
#trust ul {
  margin-bottom: 25px !important;
}
#trust ul .nav-link {
  border-radius: 30px;
  background: #E2E5EB;
  color: black;
  margin-right: 10px;
  padding: 2px 10px 5px;
}
#trust ul .nav-link.active {
  background: #E30611;
  color: white;
  margin-right: 10px;
}
#trust .tab-content {
  position: relative;
}
#trust .tab-content .trust-items .owl-nav {
  position: absolute;
  top: -70px;
  right: 20px;
  -webkit-box-shadow: 0 7px 15px rgba(0, 0, 0, 0.17);
          box-shadow: 0 7px 15px rgba(0, 0, 0, 0.17);
}
#trust .tab-content .trust-items .owl-nav .owl-prev span {
  padding: 10px 5px 10px 10px;
  font-size: 30px;
}
#trust .tab-content .trust-items .owl-nav .owl-prev:hover {
  background: none;
}
#trust .tab-content .trust-items .owl-nav .owl-prev:hover span {
  color: black;
}
#trust .tab-content .trust-items .owl-nav .owl-next span {
  padding: 10px 10px 10px 5px;
  font-size: 30px;
}
#trust .tab-content .trust-items .owl-nav .owl-next:hover {
  background: none;
}
#trust .tab-content .trust-items .owl-nav .owl-next:hover span {
  color: black;
}
#trust .tab-content .trust-items .item {
  background: #fff;
  margin-right: 20px;
  padding: 20px;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.18);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.18);
  margin-top: 10px;
  margin-bottom: 16px;
}
#trust .tab-content .trust-items .item .title {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 7px;
}

#contact {
  padding: 50px 0;
}
#contact h2 {
  font-weight: 900;
}
#contact .nav {
  margin-top: 30px;
  margin-bottom: 30px !important;
}
#contact .nav .nav-link {
  border-radius: 30px;
  background: #E2E5EB;
  color: black;
  margin-right: 10px;
  padding: 2px 10px 5px;
}
#contact .nav .nav-link.active {
  background: #E30611;
  color: white;
  margin-right: 10px;
}
#contact .tab-content .tab-pane .address {
  -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.18);
          box-shadow: 0 3px 15px rgba(0, 0, 0, 0.18);
  border-radius: 5px;
  padding: 25px;
}
#contact .tab-content .tab-pane .address h4 {
  margin-bottom: 14px;
}
#contact .tab-content .tab-pane .address span {
  color: #CC9955;
}

#footer .footer-top {
  border-bottom: 1px solid #EBEEF0;
}
#footer .footer-top .row1 {
  margin-bottom: 30px;
}
#footer .footer-top .row1 .telNumber span {
  font-size: 13px;
}
#footer .footer-top .row1 .telNumber a {
  font-size: 20px;
  font-weight: 700;
  color: #000;
}
#footer .footer-top .row1 .socialIcons {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
#footer .footer-top .row1 .socialIcons a {
  margin-left: 10px;
  padding: 10px;
  background: #E2E5EB;
  color: black;
  width: 42px;
  border-radius: 50%;
  height: 42px;
}
#footer .footer-top .row2 {
  padding-bottom: 20px;
}
#footer .footer-top .row2 ul {
  padding-left: 0;
}
#footer .footer-top .row2 ul li {
  margin-bottom: 4px;
}
#footer .footer-top .row2 ul li a {
  color: #626c77;
}
#footer .footer-top .row2 ul li:first-child {
  font-weight: 500;
  margin-bottom: 10px;
}
#footer .footer-bottom {
  padding: 20px 0;
}
#footer .footer-bottom .row3 button {
  border: none;
  padding: 8px 15px;
  border-radius: 7px;
  background: #E2E5EB;
  font-weight: 500;
}
#footer .footer-bottom .row3 .copyright {
  margin-top: 20px;
  font-size: 12px;
  color: #626c77;
}
#footer .footer-bottom .row3 p {
  font-size: 12px;
  color: #626c77;
  margin-bottom: 10px;
}

#popup1 {
  padding: 40px;
}
#popup1 .cashLoan {
  background: #F9F9F9;
  padding: 7px;
  border-radius: 7px;
  display: inline-block;
  margin-bottom: 10px;
  font-size: 14px;
}
#popup1 h4 {
  font-weight: 900;
  margin-bottom: 13px;
}
#popup1 .inputs {
  padding-right: 30px;
}
#popup1 .inputs .mb-3 {
  position: relative;
  margin-bottom: 20px;
  margin-top: 10px;
}
#popup1 .inputs .mb-3 .form-label {
  margin-bottom: 0;
}
#popup1 .inputs .mb-3 input {
  border: 2px solid #e6e9ec;
  outline: none;
  height: 60px;
  background: #FAFAFA;
}
#popup1 .inputs .mb-3 input:focus, #popup1 .inputs .mb-3 input:active, #popup1 .inputs .mb-3 input:hover {
  outline: 0 !important;
  outline-offset: 0 !important;
  -webkit-box-shadow: unset;
          box-shadow: unset;
}
#popup1 .inputs .mb-3 .inputRange {
  -webkit-appearance: none;
  /* Override default CSS styles */
  -moz-appearance: none;
       appearance: none;
  width: 99%;
  height: 3px;
  background: #00bcc7;
  -webkit-transition: 0.2s;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  border: 15px;
  right: 0;
  position: absolute;
  bottom: 0.1px;
  right: 2px;
}
#popup1 .inputs .mb-3 .inputRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Override default look */
  appearance: none;
  width: 15px;
  height: 15px;
  background: #00bcc7;
  cursor: pointer;
  border-radius: 50%;
  border: 6px solid #fff;
  padding: 4px;
  -webkit-box-shadow: 0 7px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 7px 15px rgba(0, 0, 0, 0.3);
}
#popup1 .inputs .mb-3 .inputRange::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: #00bcc7;
  cursor: pointer;
  border-radius: 50%;
  border: 6px solid #fff;
  padding: 4px;
}
#popup1 .creditResult {
  padding-top: 38px;
  padding-left: 30px;
  border-radius: 5px;
}
#popup1 .creditResult .result-top .monthlyPayment {
  margin-right: 30px;
}
#popup1 .creditResult .result-top .monthlyPayment .digits {
  font-size: 32px;
  font-weight: 700;
}
#popup1 .creditResult .result-top .monthlyPayment .digits .fa-ruble-sign {
  font-size: 27px;
}
#popup1 .creditResult .result-top .monthlyPayment .title {
  color: #84898C;
  font-size: 14px;
}
#popup1 .creditResult .result-top .rate {
  margin-top: 33px;
}
#popup1 .creditResult .result-top .rate .precent {
  font-size: 32px;
  font-weight: 700;
}
#popup1 .creditResult .result-top .rate .title {
  color: #84898C;
  font-size: 14px;
}
#popup1 .creditResult .result-bottom {
  margin-top: 20px;
}
#popup1 .creditResult .result-bottom button {
  border: none;
  background: #EA232D;
  color: white;
  padding: 10px 17px;
  border-radius: 7px;
  font-size: 14px;
}
#popup1 .creditResult .result-bottom a {
  color: #329ACA;
}
#popup1 .creditResult .result-bottom p {
  font-size: 12px;
  color: #a7abaf;
  margin-bottom: 0;
  margin-top: 10px;
}
#popup1 .getCredit {
  background: #ea212e;
  padding: 12px;
  border-radius: 7px;
  color: white;
  font-weight: bold;
  margin-top: 13px;
  display: inline-block;
}

#popup2 {
  padding: 30px;
}
#popup2 h2 {
  font-weight: 700;
  margin-bottom: 25px;
}
#popup2 h4 {
  margin-right: 10px;
  font-weight: 900;
}
#popup2 .popup2-top {
  margin-bottom: 25px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#popup2 .popup2-top .limit .fa-ruble-sign {
  font-size: 20px;
  margin-left: 3px;
}
#popup2 .popup2-top .more {
  color: #3195C3;
  font-weight: bold;
}
#popup2 .popup2-body input {
  background: #fafafa;
  padding: 12px;
}
#popup2 .popup2-body button {
  width: 100%;
  background: #EA232D;
  padding: 15px;
  font-weight: 700;
}
#popup2 .popup2-body .imgBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#popup2 .popup2-body .imgBlock img {
  width: 60%;
  display: block;
}
#popup2 .popup2-body .imgBlock p {
  margin-top: 30px;
}

#popup3 p {
  font-weight: 700;
  margin-bottom: 10px !important;
}
#popup3 .right img {
  width: 36%;
  margin-right: 7px;
  display: inline-block;
  margin-bottom: 10px;
}
#popup3 .right .capital span, #popup3 .right .organ span {
  font-weight: normal;
}
#popup3 .right .reestr, #popup3 .right .category {
  font-weight: normal;
}
#popup3 .status span {
  color: green;
}
#popup3 .blue {
  color: #3B6ED3;
}
#popup3 .red {
  color: #E32011;
}
#popup3 .company {
  font-size: 22px;
  font-weight: 700;
}
#popup3 .yesB, #popup3 .noB {
  padding: 12px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}
#popup3 .yesB {
  background: #D61E10;
  color: #fff;
  margin-right: 10px;
}
#popup3 .noB {
  background: #E3E5E9;
  color: #000;
}
#popup3 .info p span {
  color: #000;
}
#popup3 .info .infoDate {
  display: inline;
  background: #ECEFF4;
  padding: 6px;
  border-radius: 5px;
}

@media (min-width: 768px) and (max-width: 991px) {
  #whatNeed .col-md-4:nth-of-type(2) .item {
    height: 161px;
  }
}
@media (max-width: 767px) {
  .header-top .header-top__left .menu {
    display: none !important;
  }
  .header-top .burger a:visited {
    color: black;
  }

  #popup2 .popup2-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .findout-limit .card-block {
    width: 90%;
    margin: 0 auto;
  }
  .findout-limit .col-md-8 {
    padding: 0;
    margin-top: 20px !important;
    width: 90%;
    margin: 0 auto;
  }
  .findout-limit .col-md-8 input {
    padding: 11px 17px !important;
  }
  .findout-limit .col-md-8 button {
    padding: 10px 20px !important;
  }

  #our-offers {
    padding-bottom: 15px;
  }
  #our-offers .offer-items .item {
    margin-top: 40px;
  }
  #our-offers .offer-items .owl-nav {
    top: -55px;
  }

  #simpleSteps {
    /* .col-md-3:nth-of-type(3):after{
         content:"" !important;
     }*/
  }
  #simpleSteps .col-md-3 {
    margin-bottom: 15px;
  }
  #simpleSteps .col-md-3 .step {
    float: left;
    margin-right: 15px;
  }
  #simpleSteps .col-md-3 .title {
    margin-bottom: 5px;
  }
  #simpleSteps .col-md-3 .text {
    margin-left: 60px;
  }
  #simpleSteps .col-md-3:before {
    content: "";
    width: 1px;
    height: 40%;
    background: #E2E5EB;
    position: absolute;
    top: 53px;
    left: 37px;
    z-index: -1;
  }

  #whatNeed .row {
    margin-bottom: 10px;
  }
  #whatNeed .row .col-md-4 {
    margin-bottom: 25px;
  }

  #about .col-md-6:nth-of-type(1) {
    padding-left: 25px;
  }

  #trust ul li {
    margin-bottom: 10px;
  }

  #contact .tab-content .tab-pane .col-md-5 {
    margin-bottom: 20px;
  }

  #footer .row1 .telNumber {
    text-align: center;
  }
  #footer .row1 .socialIcons {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    margin-top: 15px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #footer .row1 .socialIcons a {
    margin-bottom: 7px;
  }
  #footer .footer-bottom .row {
    text-align: center;
  }

  #popup1 .inputs {
    padding-right: 0;
  }

  #popup2 .popup2-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #popup2 .popup2-body .imgBlock {
    margin-top: 30px;
  }

  #popup3 .right .organ {
    margin-top: 15px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  #calculator .container {
    padding: 20px;
  }
  #calculator .container .creditResult {
    width: 95%;
    margin: 30px auto;
  }
}
@media (max-width: 575px) {
  #calculator .creditResult {
    width: 90%;
    margin: 25px auto;
  }

  .fa-bars {
    font-size: 22px;
    margin-right: 13px;
  }
}
