
body{
    color:#1F2D3D;
}

*{
    //list-style: none;
}
a{
    text-decoration: none;
}

header{
    .header-top{
        .header-top__left{
            .logo{
                img{
                    width: 180px;
                }
            }
            .menu{
                margin-bottom: 0;
                li{
                    margin-right: 15px;
                    font-size: 17px;
                    list-style: none;
                    a{
                        //color:rgba(0,0,0,0.8);
                        color:#1F2D3D;
                    }
                }
            }
        }
        .header-top__right{
            line-height: 55px;
            .btn{
                border-radius: 7px;
                font-weight: bold;
            }
        }
    }
    .header-body{
        background-image: url(../img/header.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 400px;
        position: relative;
        img{
            width: 100%;
        }
        .btn{
            position: absolute;
            left:20px;
            bottom: 10px;
            padding:10px 20px;
            -webkit-border-radius: 9px;
            -moz-border-radius: 9px;
            border-radius: 9px;
        }
    }
}

.findout-limit{
    padding-top: 60px;
    padding-bottom: 60px;
    .card-block{
        box-shadow: 0 0 15px rgb(0 0 0 / 20%);
        border-radius: 7px;
        padding: 20px;
        position: relative;
        h4{
            font-weight: bold;
        }
        h5{
            font-weight: bold;
        }
        small{
            color:#95a5a6;
        }
        img{
            width:30%;
            position: absolute;
            bottom:20px;
            right:20px;
        }
    }
    .form{
        padding: 10px 0 0 50px;
        form{
            h3{
                font-weight: bold;
                margin-bottom: 25px;
            }
            input{
                border: 1px solid #DEE1E3;
                padding: 15px 20px;
                border-radius: 7px;
                width: 100%;
                margin-bottom: 10px;
            }
            .findOutLimitBtn{
                background: #E1E5EA;
                padding: 13px 30px;
                font-size: 17px;
                font-weight: bold;
                margin-top: 17px;
                -webkit-border-radius: 7px;
                -moz-border-radius: 7px;
                border-radius: 7px;
            }
        }
    }
}

#our-offers{
    background: #F1F3F6;
    padding-top: 30px;
    padding-bottom:50px;
    h2{
        font-weight:bold;
        margin-bottom: 40px;
    }
    .offer-items{
        .item{
            background: #fff;
            margin-right: 10px;
            margin-left: 10px;
            margin-bottom: 25px;
            padding:15px;
            margin-top: 30px;
            -webkit-box-shadow: 0 13px 13px rgba(0 0 0 / 8%);
            -moz-box-shadow: 0 13px 13px rgba(0 0 0 / 8%);
            box-shadow: 0 13px 13px rgba(0 0 0 / 8%);
            border-radius: 7px;
            position: relative;
            .img-block{
                img{
                    display: block;
                    position: absolute;
                    top: -20px;
                    z-index: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 70%;
                }
            }
            .item-bottom{
                margin-top: 120px;
                .title{
                    font-weight: bold;
                }
                ul{
                    padding-left: 18px;
                    li{
                        margin-bottom: 10px;
                        color:#6E7782;
                        font-size: 15px;
                    }
                }
                .findOutLimitBtn{
                    background: #F1F3F6;
                    border:none;
                    padding: 10px 13px;
                    font-weight: bold;
                    border-radius:7px;
                    background: #E1E5EA;
                }
            }
        }
        .owl-nav{
            position: absolute;
            top: -70px;
            right: 20px;
            box-shadow: 0 7px 15px rgb(0 0 0 / 17%);
            .owl-prev{
                span{
                    padding:10px 5px 10px 10px;
                    font-size:30px;
                }
            }
            .owl-next{
                span{
                    padding:10px 10px 10px 5px;
                    font-size:30px;
                }
            }
        }

    }
}

#calculator{
    padding-top: 30px;
    .container{
        border: 2px solid #F9F9F9;
        border-radius: 7px;
        padding: 20px 35px 20px 20px;
        .cashLoan{
            background: #F9F9F9;
            padding: 7px;
            border-radius: 7px;
            display: inline-block;
            margin-bottom: 10px;
            font-size: 14px;
        }
        h4{
            font-weight: 900;
            margin-bottom: 13px;
        }
        .inputs{
            .form-label{
                margin-bottom: 0;
            }
            input{
                border: 2px solid #e6e9ec;
                //border: 2px solid #F5F7F8;
            }
        }
        .creditResult{
            background:#F5F7F8;
            padding: 20px;
            border-radius: 5px;
            .result-top{
                .monthlyPayment{
                    margin-right: 30px;
                    .digits{
                        font-size:32px;
                        font-weight: 700;
                    }
                    .title{
                        color:#84898C;
                        font-size:14px;
                    }
                }
                .rate{
                    .precent{
                        font-size:32px;
                        font-weight: 700;
                    }
                    .title{
                        color:#84898C;
                        font-size:14px;
                    }
                }
            }
            .result-bottom{
                margin-top:20px;
                button{
                    border: none;
                    background: #EA232D;
                    color: white;
                    padding: 10px 17px;
                    border-radius: 7px;
                    font-size: 14px;
                }
                a{
                    margin-left: 15px;
                    color:#329ACA;
                }
                p{
                    font-size:12px;
                    color:#CDD2D7;
                    margin-bottom: 0;
                    margin-top: 10px;
                }
            }
        }
    }
}

#simpleSteps{
    padding-top:50px;
    padding-bottom: 50px;
    h3{
        font-weight: 900;
        margin-bottom:20px;
    }
    .col-md-3{
        position: relative;
        .step{
            width: 40px;
            height: 40px;
            background: #E2E5EB;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            font-weight: 900;
            font-size:19px;
            margin:5px;
        }
        .title{
            font-weight: 700;
            margin-bottom: 12px;
            font-size: 17px;
            margin-top: 10px;
            margin-left: 7px;
        }
        .text{
            margin-left: 7px;
        }
        &:before{
            content:"";
            width:73%;
            height:1px;
            background: #E2E5EB;
            position: absolute;
            top: 23px;
            right: 0;
            z-index: -1;
        }
    }
}

#whatNeed{
    padding-top: 50px;
    padding-bottom: 50px;
    background: #F2F3F7;
    h3{
        font-weight: 900;
        margin-bottom: 25px;
    }
    .row{
        margin-bottom: 45px;
        .col-md-4{
            .item{
                padding:32px;
                box-shadow: 0 20px 30px rgb(0 0 0 / 10%), 0 0 8px rgb(0 0 0 / 12%);
                background: #fff;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;
                &:last-child{
                    margin-right:0
                }
                .title{
                    margin-bottom: 16px;
                }
                /*.icon{
                    background: lightgray;
                    padding: 10px;
                    display: inline-block;
                    border-radius: 35%;
                }*/
            }

        }
    }
    span{
        color:rgb(150, 159, 168);
        font-size: 14px;
    }
}

#about{
    h2{
        font-weight: 900;
        margin-bottom: 20px;
    }
    .text-item{
        position: relative;
        &:before{
            content: "";
            width: 7px;
            height: 7px;
            position: absolute;
            top: 13px;
            left: -14px;
            border-radius: 50%;
            background: #EA222F;
        }
        .title{
            font-weight: 700;
            font-size: 20px;
        }
    }
    .slider-block{
        .our-teams{

            .our-teams__item{
                .title{
                    font-weight: 700;
                    margin-top: 10px;
                }
                .speciality{
                    color:#969fa8;
                    margin-top: 7px;
                }
            }
            .owl-dots{
                button{
                    width: 15px;
                    span{
                        width:7px;
                        height: 7px;
                    }
                }
            }
        }
    }
}